<!DOCTYPE html>
<html lang="en">

<head>
    <title>Picture to PDF</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/style.css" rel="stylesheet">
</head>

<body>

    <div>
        <h1>Covert Images to PDF</h1>

        <form action="/upload" method="POST" enctype="multipart/form-data">
            <input type="file" name="derrick" />
            <br>
            <button type="submit">Convert</button>
        </form>

    </div>

    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
</body>

</html>